.login-container{
    align-content: center;
    width: 100%;
    height: 100%;
    font-family: 'Love Ya Like A Sister', 'Sanchez', cursive;
}

.welcome {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    padding-left: 25%;
    padding-right: 30%;
    padding-top: 3%;
    padding-bottom: 4%;
    background-color: #E7B355;
    color:white;
    align-content: center;
}

.welcome img {
    width: 250px;
}

.message {
    padding-top: 20%;
}


