.userpage-container {
    display: grid;
    font-family: 'Love Ya Like A Sister', 'Sanchez', cursive;
}

.gallery-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

#btn-logout {
    position: relative;
    top: 10px;
    left: 60%;
}

