.gallery {
    border-radius: 20px;
    box-shadow: 0px 0px 3px 3px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    align-content: center;
    font-family: 'Love Ya Like A Sister', 'Sanchez', cursive;
}

.f-box {
    width: 100%;
    height: 10%;
    background-color: #845EC2;
    color: white;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 0px 0px 20px 20px;
}

.s-box {
    width: 100%;
    padding: 15px;
}

.gallery img {
    width: 70px;
}

.btns-box {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#btn-remove {
    margin-right: 30px;
}
