.header {
    overflow: hidden;
    border-bottom: 3px solid grey;
    background: #FFC75F;
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
}

.header img {
    width: 60px;
}

.logo {
    float: left;
    margin: auto;
    padding-left: 150px;
    padding-top: 15px;
}

.slogan {
    float: left;
    margin: auto;
    padding-left: 15px;
    padding-top: 25px;
}

.username {
    float: right;
    padding-right: 50px;
    padding-top: 25px;

}

.userimg {
    float: right;
    margin: auto;
    padding: 15px;
}

