@import url(https://fonts.google.com/specimen/Love+Ya+Like+A+Sister?query=Love+Ya+Like+a+sister);
@import url(https://fonts.google.com/specimen/Sanchez?query=Sanchez);

hgroup {
    margin: 0;
    font-family: 'Love Ya Like A Sister';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-family: 'Sanchez', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
  
