.login-form {
    background-color: white;
    box-shadow: 1px 1px 4px 4px gray;   
    border-radius: 20px;
    position: relative;
    padding: 25px;
    width: 50%;
    top: -50px;
    left: 24%;
}

.mb-3{
    border: 2px solid grey;
    box-shadow: 1px 1px 4px 4px gray;
    border-radius: 20px;
    background: white;   
}

.footer {
    position: absolute;
    background: #845EC2;
    border-radius: 0px 0px 18px 18px;
    border-top: 1px solid #845EC2;
    border-left: 3px solid #845EC2;
    border-bottom: 3px solid #845EC2;
    border-right: 3px solid #845EC2;
    width: 100%;
    height: 20%;
    top: 80%;
    left: 0%
}
