.form {
    flex-flow: row;
    align-content: center;
    width: 100%;
    height: 90%;
    font-family: 'Love Ya Like A Sister', 'Sanchez', cursive;
}

.inputbox {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
    padding-bottom: 2.5%;
    background-color: #E7B355;
    align-content: center;
}

.signs {
    width: 70%;
    height: 300px;
    box-shadow: 0px 0px 3px 3px  gray;
    border-radius: 20px 20px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    overflow: auto;
    
}

.signs-footer {
    background: #845EC2;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 2px 3px 3px gray;
    border-top: 1px solid #845EC2;
    border-left: 3px solid #845EC2;
    border-bottom: 3px solid #845EC2;
    border-right: 3px solid #845EC2;
    width: 70%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 15%;
}

.signs img {
    max-width: 100px;
}

.mb-3 {
    border: 2px solid grey;
    box-shadow: 1px 1px 4px 4px gray;
    border-radius: 20px;
    background: white;   
}

.mb-3 img {
    width: 27px;
}
